<div *ngIf="postData" class="card-container" ><!--Inside component.ts file there is method getPostById inside that there is postData,Something is there in then only this div tag will be displayed -->
    <mat-card>
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{postData.name}}</mat-card-title>
        <mat-card-subtitle>posted by:{{postData.postedBy}} | Posted On :{{postData.date|date:'medium'}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="postData.image" height="300px" class="img" alt="Card Img">
        <mat-card-content>{{postData.content}}</mat-card-content>
        <br>
        <mat-chip-set>
            <mat-chip *ngFor="let tag of postData.tags">{{tag}}</mat-chip>
        </mat-chip-set>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="likePost()">{{postData.likeCount}}
                <mat-icon>favorite</mat-icon></button>
                <button mat-raised-button color="primary" style="margin-left: 5px;">{{postData.viewCount}}
                    <mat-icon>removed_red_eye</mat-icon></button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="comment-card">
        <mat-card-content>
            <h4>Publish your comment</h4>
            <div>
                <form [formGroup]="commentForm"> <!--Bind formgroup with commentForm-->
                   
                    <mat-form-field appearance="fill">      <!--1st field for Content-->
                    <mat-label>Content</mat-label>
                    <textarea matInput formControlName="content"></textarea>
                    </mat-form-field>
                   
                    <mat-form-field appearance="fill">      <!--2nd field for Posted By-->
                        <mat-label>Posted By</mat-label>
                        <input matInput formControlName="postedBy">
                    </mat-form-field>
                   <!--publishComment method is inside component.ts file-->
                    <button mat-raised-button (click) ="publishComment()" color="primary" style="float:right;" [disabled]="!commentForm.valid">Publish Comment</button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
<div style="margin-top: 10px;">
    <h4>Comments</h4>
    <mat-card style="margin-top: 10px;" *ngFor="let comment of comments">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ comment.postedBy}}</mat-card-title>
        <mat-card-subtitle>{{comment.createdAt}}</mat-card-subtitle>
        <mat-card-content>{{comment.content}}</mat-card-content>
    </mat-card-header>
    </mat-card>
    
</div>
</div>